@import "tailwindcss";


:root {
    --heading-one: #A1C2BD;
    --heading-two: #E7F2EF;
    --heading-three: #708993;
    --base-font-color: #F4F4F4;
    --base-color: #19183B;
    --second-color: #1D546C;
    --tertiary-color: #1A3D64;
    --extra-color: #0C2B4E;
}

body {
    background: linear-gradient(to top left, rgba(12, 43, 78, 1), rgba(29, 84, 108,1));
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

@keyframes pulseScale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); 
  }
}

.animate-pulse-scale {
  animation: pulseScale 2s ease-in-out infinite;
}

.animate-pulse-scale:hover {
    animation: 0;
    color: gray;
    transform: scale(1.2);
}