@import "tailwindcss";


:root {
    --heading-one: #A1C2BD;
    --heading-two: #E7F2EF;
    --heading-three: #708993;
    --base-font-color: #F4F4F4;
    --base-color: #19183B;
    --second-color: #1D546C;
    --tertiary-color: #1A3D64;
    --extra-color: #0C2B4E;
}

body {
    background: linear-gradient(to top left, rgba(12, 43, 78, 1), rgba(29, 84, 108,1));
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
